---
import {Navbar} from "congreso:componentes"
const {
    pageTile = "CONGRESO UNAMAD",
    ogimage = {
        url: "/images/imagedefault.webp",
        alt: "Default image of EFEELE",
    } 
} = Astro.props
const siteUrl = new URL(Astro.url).origin;
const SEO = {
  sitename: "NeonMint by EFEELE🚀",
  url: siteUrl,
  locale: "en_US",
  author: "UNAMAD ",
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTile}</title>

     <link rel="icon" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" href="/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" href="/android-chrome-512x512.png" sizes="512x512" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="author" content={SEO.author} />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href={`${Astro.site}${Astro.url.pathname}`}>
    <meta property="og:title" content={pageTile} />
    <meta property="og:image" content={ogimage.url} />
    <meta property="og:image:alt" content={ogimage.alt} />
    <meta property="og:url" content={SEO.url} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={SEO.sitename} />
    <meta property="og:locale" content={SEO.locale} />

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        crossorigin="anonymous"
        referrerpolicy="no-referrer" 
    />
</head>
<body class="overflow-x-hidden">
    <Navbar/>
    <div>
        <slot />
    </div>
</body>
</html>
