---
import type { Enlaces } from 'congreso:types';
import "congreso:styles/cardData.css"
import { undefined } from 'astro:schema';



interface Props {
  id?:string,
  titulo?: string;
  descripcion?: string;
  complementos?: Array<Enlaces>;
  imagen?:string
}

const { id,titulo, descripcion, complementos,imagen } = Astro.props;

---

<div id={id} class="cardData">
  <div class="cardDataContenido1" >
    <a href="#" class="cardTitulo" >{titulo}</a>
    <p>{descripcion}</p>
    <div class="cajaEnlaces">
      {
        complementos?.map((dato) => {
          return(
            <div class="cajaEnlace">
              <i class={` caja_icono ${dato.icono}`} />
              <a href={dato.enlace}>{dato.nombre}</a>
            </div>
          )
        })
      }
    </div>
  </div>
  { imagen ? ( 
     <div class="cardContentImg" >
       <img class="cardImg" src={imagen} alt="">
     </div>
    ) : "" }
</div>
